.poke_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 10px;

  padding-bottom: 15px;
}
.body_card {
  height: 80%;
  width: 100%;
}
.footer_card {
  padding: 5px;
  height: 22%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-top: 1px rgb(209, 204, 204) solid;
}

.card_color {
  border-radius: 9px 9px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;

  height: 50%;
}

.card_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.card_image {
  width: 250px;
  position: absolute;
  top: 45px;
}
.footer_stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.stat_points {
  font-size: 25px;
}

.name_stat {
  color: gray;
}

.c-fire {
  color: rgba(231, 92, 53, 1);
}
.b-fire {
  border: 1px solid black;
  border-color: rgba(231, 92, 53, 1);
}
.d-fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}

.c-grass {
  color: #416460;
}
.b-grass {
  border: 1px solid;
  border-color: rgba(177, 219, 188, 1);
}

.d-grass {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.c-water {
  color: #1479fb;
}
.b-water {
  border: solid 1px;
  border-color: rgba(131, 185, 255, 1);
}
.d-water {
  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.c-bug{
    color: #4AB648;
}
.b-bug{
border: solid 1px rgba(74, 182, 72, 1);

}
.d-bug{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);

}

.c-normal{
    color: #735259;
}
.b-normal{
 border: 1px solid rgba(91, 49, 132, 1);
}
.d-normal{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.c-poison{
    color: #5B3184;
}
.b-poison{
border: 1px solid rgba(91, 49, 132, 1);
}
.d-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);

}

.c-ground{
    color: #654008
}
.d-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);

}
.b-ground{
    border: 1px solid rgba(101, 64, 8, 1);
}

.c-electric{
color:  rgba(237,224,69,1);
}
.d-electric{
    background: linear-gradient(0deg, rgba(237,224,69,1) 32%, rgba(253,251,45,1) 71%, rgba(251,246,45,1) 72%, rgba(237,176,140,1) 100%);

}

.b-electric{
border: 1px solid  rgba(237,224,69,1);
}

.c-fairy{
    color: #971B45;
}
.b-fairy{
border: 1px solid rgba(151, 27, 69, 1);
}
.d-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);

}

.c-fighting{

  color: rgba(150, 64, 42, 1);
}
.d-fighting{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);

}
.b-fighting{
border: 1px solid rgba(150, 64, 42, 1);
}

.c-rock{
    color: #7E7E7E;
}
.d-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);

}

.b-rock{
border: 1px solid rgba(126, 126, 126, 1);
}

.c-dragon{
    color: #478A93;
}

.d-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);

}

.b-dragon{
 border: 1px solid rgba(71, 138, 147, 1);
}

.c-ice{
    color: #6FBEDF
}
.b-ice{
    border: 1px solid rgba(111, 190, 223, 1);
}
.d-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);

}

.c-dark{
    color: #030706;
}
.d-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);

}
.b-dark{
border: 1px solid rgba(11, 14, 13, 1);
}

.c-steel{
    color: #5E736C;
}
.b-steel{
    border: 1px solid rgba(94, 115, 108, 1);
}
.d-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);

}

.c-ghost{
    color: #323569;
}
.d-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);

}
.b-ghost{
    border: 1px solid rgba(50, 53, 105, 1);
}

.c-psychic{
color: rgba(189,196,67,1);
}
.d-psychic{
    background: linear-gradient(0deg, rgba(189,196,67,1) 24%, rgba(187,187,47,1) 82%);
}
.b-psychic{
border: 1px solid rgba(189,196,67,1);
}
